<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'HEADER.PAYMENT OUT' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div>
      <ion-input class="custom-input" [(ngModel)]="payment.receipt_no" (click)="$event.target.select()"
        #receipt_no="ngModel" [value]="receipt_no" required>
        <ion-label class="ion-margin" name="receipeNo">{{'HEADER.PAYMENT NO' | translate}} :<span
            class="required">*</span></ion-label>
      </ion-input>
    </div>

    <div style="margin-bottom: 13px; margin-top: 13px;">
      <ion-input class="custom-input" type="date" name="date" [(ngModel)]="payment.receipt_date" #receipt_date="ngModel"
        required>
        <ion-label class="ion-margin" name="receiptDate">{{'HEADER.PAYMENT DATE' | translate}} :<span
            class="required">*</span></ion-label>
      </ion-input>
    </div>

    <div *ngIf="receipt_date.touched && receipt_date.invalid" class="alert">
      <div *ngIf="receipt_date.errors?.required">
        {{'HEADER.PAYMENT DATE REQUIRED' | translate}}
      </div>
    </div>

    <div>
      <ion-row class="custom-input">
        <ion-col size="5" style="padding-top: 15px;">
          <ion-label class="ion-margin">{{'HEADER.PAID FOR' | translate}} :<span class="required">*</span></ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-select interface="action-sheet" placeholder="select" [(ngModel)]="payment.received_for"
            (ngModelChange)="optionChange(payment.received_for)">
            <ion-select-option [value]="0" selected="">Select</ion-select-option>
            <ion-select-option *ngFor="let lc of ledgerCategory" [value]="lc">{{lc.received_for}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="payment.received_for" style="margin-bottom: 13px; margin-top: 13px;">
      <ion-row class="custom-input" *ngIf="categoryId == 18">
        <ion-col size="6" style="padding-top: 15px;">
          <ion-label class="ion-margin">{{'HEADER.PARTY NAME' | translate}} :<span class="required">*</span>
          </ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-select interface="action-sheet" placeholder="select" [(ngModel)]="payment.select"
            (ngModelChange)="selected(payment.select)">
            <ion-select-option [value]="0" selected="">Select</ion-select-option>
            <ion-select-option *ngFor="let item of partyList" [value]="item">{{item.Party_name}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-item *ngIf="categoryId == 18">
        <ion-button (click)="createNewParty()">{{'HEADER.CREATE PARTY' | translate}}</ion-button>
      </ion-item>

      <ion-row class="custom-input" *ngIf="categoryId != 18">
        <ion-col size="8" style="padding-top: 15px;">
          <ion-label class="ion-margin">{{'HEADER.PAID FOR' | translate}} {{receive}} <span
              class="required">*</span></ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-select interface="popover" placeholder="select" [(ngModel)]="payment.ledgerCategory"
            (ngModelChange)="option(payment.ledgerCategory)">
            <ion-select-option [value]="0" selected="">Select</ion-select-option>
            <ion-select-option *ngFor="let item of payment1" [value]="item.id">{{item.ledger_name}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-item *ngIf="categoryId != 18">
        <ion-button (click)="createNewLedger()">{{'HEADER.CREATE NEW LEDGER' | translate}}</ion-button>
      </ion-item>

      <ion-row>
        <ion-input class="custom-input" type="number" [(ngModel)]="payment.amount" #amount="ngModel" required>
          <ion-label class="ion-margin" name="amount">{{'HEADER.AMOUNT' | translate}} :<span
              class="required">*</span></ion-label>
        </ion-input>
      </ion-row>

      <div *ngIf="amount.touched && amount.invalid" class="alert">
        <div *ngIf="amount.errors?.required">
          {{'HEADER.ENTER AMOUNT' | translate}}
        </div>
      </div>
    </div>

    <ion-item lines="none">
      <ion-label class="paymentType">{{'HEADER.PAYMENT TYPE' | translate}} <span class="required">*</span></ion-label>
      <br>
    </ion-item>

    <ion-item>
      <ion-button (click)="CashModel()" size="small" fill="outline" style="width:100px;">{{'HEADER.CASH'
        | translate}}
      </ion-button>

      <ion-button (click)="ChequeModel()" size="small" fill="outline" style="width:100px;">
        {{'HEADER.CHEQUE' | translate}}
      </ion-button>

      <ion-button (click)="BankTransferModel()" size="small" fill="outline" style="width:120px;">
        {{'HEADER.BANK TRANSFER' | translate}}
      </ion-button>
    </ion-item>

    <ion-card [ngClass]="[hide]">
      <div style="margin:4px">
        <ion-row class="custom-input">
          <ion-label class="ion-margin">{{'HEADER.LEDGER NAME' | translate}}</ion-label>
          <ion-select interface="action-sheet" placeholder="select" [(ngModel)]="payment.handover_to"
            (ngModelChange)="select(payment.handover_to)">
            <ion-select-option *ngFor="let item of cashLedger" [value]="item.id">{{item.ledger_name}}
            </ion-select-option>
          </ion-select>
        </ion-row>

        <ion-row class="custom-input" style="margin-top:12px">
          <ion-label class="ion-margin">{{'HEADER.DATE' | translate}} :</ion-label>
          <ion-input type="date" name="date" required="" [(ngModel)]="payment.cleared_date"></ion-input>
        </ion-row>

        <ion-button (click)="createCashledger()" size="small">{{'HEADER.ADD CASH LEDGER' | translate}}</ion-button>
        <ion-button expand="full" (click)="cashDetails()">{{'HEADER.DONE' | translate}}</ion-button>
      </div>
    </ion-card>

    <ion-card showCheque [ngClass]="[hideCheque]">
      <div style="margin:4px">
        <ion-row class="custom-input" style="margin-top:12px">
          <ion-label class="ion-margin">{{'HEADER.CHEQUE NO' | translate}} :</ion-label>
          <ion-input [(ngModel)]="payment.cheque_no" (click)="$event.target.select()"></ion-input>
        </ion-row>

        <ion-row class="custom-input" style="margin-top:12px">
          <ion-label class="ion-margin">{{'HEADER.DATE ISSUED' | translate}}:</ion-label>
          <ion-input type="date" name="issued_date" required="" [(ngModel)]="payment.issued_date"></ion-input>
        </ion-row>

        <ion-row class="custom-input" style="margin-top:12px">
          <ion-label class="ion-margin">{{'HEADER.DATE CLEARED' | translate}}:</ion-label>
          <ion-input type="date" name="cleared_date" required="" [(ngModel)]="payment.cleared_date">
          </ion-input>
        </ion-row>

        <ion-row class="custom-input" style="margin-top:12px">
          <ion-label class="ion-margin">{{'HEADER.SELECT BANK' | translate}} :</ion-label>
          <ion-select interface="action-sheet" placeholder="select" [(ngModel)]="payment.bank">
            <ion-select-option [value]="0" selected="">Select</ion-select-option>
            <ion-select-option *ngFor="let item of bankList" [value]="item.id">{{item.bank_name}}
            </ion-select-option>
          </ion-select>
        </ion-row>

        <ion-item>
          <ion-button (click)="createNewBank()">{{'HEADER.ADD BANK' | translate}}</ion-button>
        </ion-item>

        <ion-button expand="full" (click)="chequeDetails()" style="margin-top:20px">{{'HEADER.DONE' | translate}}
        </ion-button>
      </div>
    </ion-card>

    <ion-card [ngClass]="[hideBank]">
      <div style="margin:4px">
        <ion-row class="custom-input">
          <ion-label class="ion-margin">{{'HEADER.REFERANCE NO' | translate}} :</ion-label>
          <ion-input [(ngModel)]="payment.reference_no" (click)="$event.target.select()"></ion-input>
        </ion-row>

        <ion-row class="custom-input" style="margin-top:12px;margin-bottom: 12px;">
          <ion-label class="ion-margin">{{'HEADER.DATE' | translate}} :</ion-label>
          <ion-input type="date" name="date" required="" [(ngModel)]="payment.cleared_date"></ion-input>
        </ion-row>

        <ion-row class="custom-input">
          <ion-label class="ion-margin">{{'HEADER.SELECT BANK' | translate}} :</ion-label>
          <ion-select interface="action-sheet" placeholder="select" [(ngModel)]="payment.bank">
            <ion-select-option [value]="0" selected="">Select</ion-select-option>
            <ion-select-option *ngFor="let item of bankList" [value]="item.id">{{item.bank_name}}
            </ion-select-option>
          </ion-select>
        </ion-row>

        <ion-item>
          <ion-button (click)="createNewBank()" style="margin-top:20px">{{'HEADER.ADD BANK' | translate}}</ion-button>
        </ion-item>

        <ion-button expand="full" (click)="bankTransferDetails()">{{'HEADER.DONE' | translate}}</ion-button>
      </div>
    </ion-card>

    <div *ngIf="payment.payment_type == 1">
      <ion-item>
        <ion-label>{{'HEADER.PAYMENT TYPE' | translate}} : {{'HEADER.CASH' | translate}} </ion-label>
      </ion-item>
    </div>

    <div *ngIf="payment.payment_type == 2">
      <ion-item>
        <ion-label>{{'HEADER.PAYMENT TYPE' | translate}} : {{'HEADER.CHEQUE' | translate}}</ion-label>
      </ion-item>
    </div>

    <div *ngIf="payment.payment_type == 3">
      <ion-item>
        <ion-label>{{'HEADER.PAYMENT TYPE' | translate}} : {{'HEADER.BANK TRANSFER' | translate}}</ion-label>
      </ion-item>
    </div>

    <ion-item>
      <ion-label>{{'HEADER.NOTES' | translate}} :</ion-label>
      <ion-input [(ngModel)]="payment.notes"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="createPaymenOut()">{{'HEADER.SUBMIT' | translate}}</ion-button>
  </ion-card>
</ion-content>