<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{'HEADER.ITEM WISE SALES' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="length" fill="clear" (click)="excel()">
        <ion-icon name="cloud-download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card style="border: solid 1px;border-radius: 20px;">
  <ion-item id="from">
    <ion-label position="stacked">{{'HEADER.FROM' | translate}} : </ion-label>
    <ion-input type="date" name="dateF" required="" [(ngModel)]="item.start_date"></ion-input>
  </ion-item>
  <ion-item id="to">
    <ion-label position="stacked">{{'HEADER.TO' | translate}} :</ion-label>
    <ion-input type="date" name="dateT" required="" [(ngModel)]="item.end_date"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button id="submit" (click)="submit()">{{'HEADER.SUBMIT' | translate}}</ion-button>
  </ion-item>
</ion-card>

  <ion-item *ngIf="pagination">
    <ion-label>Showing {{Itemdata.length}} of {{pagination.total_data}} results</ion-label>
  </ion-item >

  <ion-searchbar type="text" (ionInput)="getItems($event)" class="search"></ion-searchbar>
<ion-content>
  <ion-list *ngIf="loading">
    <ion-item>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" class="skeleton"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" class="skeleton"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" class="skeleton"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" class="skeleton"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" class="skeleton"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div style="overflow-x: auto;">
    <table style="width:100%; margin-bottom: 10px; margin-top: 10px; border-collapse: collapse; white-space: nowrap;">
      <thead fixed>
        <tr style="border-bottom: solid 1px gray;" *ngIf="!loading">
          <th style="text-align: left;">Item name</th>
          <th style=" text-align: center;">Item code</th>
          <th style=" text-align: center;">Selling Qty</th>
          <th style="text-align: center;">Alternate Qty</th>
          <th style="text-align: center;">Total SellingPrice</th>
          <th style="text-align: left;">Balance Stock</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of Itemdata">
          <tr style="border-bottom: solid 1px gray;">
            <td>{{item.item_name}}</td>
            <td style="text-align: center;">{{item.item_code}}</td>
            <td style="text-align: center;">{{item.unit_quantity}}</td>
            <td style="text-align: center;">{{item.other_unit_quantity}}</td>
            <td style="text-align: center;">{{item.total_amount | number:'1.2-2'}}</td>
            <td style="text-align: center;color: {{item.balance_stock >0 ? '#00a600':  '#ff0000'}}">{{item.balance_stock}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingText="Loading..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>