.center{
    text-align: center;
}
.logo img{
    width:50%;
    height: auto;
}
.width80{
    width: 80%;
}
.margin-left-right-auto{
    margin-left:auto;
    margin-right: auto;
}
.margin-top20{
    margin-top:20%;
}
.margin-top10{
    margin-top:10%;
}

.color-white{
    color: white;
}
// .common-btn{
//     background-color: #a78363 !important;
// }
.margin-top25{
    margin-top:25%;
}
ion-content{

    --ion-background-color:#2f5363;
}
ion-item.item-has-focus > ion-label{
    color:  white  !important;
  }
.lbl-mobile{
    text-align: left;
    color: white;
    margin-bottom: 0px;
    
}