<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-title>{{'HEADER.GSTR-1 REPORTS' | translate}}</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="excel()">
          <ion-icon name="cloud-download-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-card>
      <ion-item>
        <ion-label>{{'HEADER.SELECT PERIOD' | translate}}:</ion-label>
        <ion-select [(ngModel)]="item.quarter" interface="popover" value="0">
          <ion-select-option [value]="0">{{'HEADER.MONTHLY' | translate}}</ion-select-option>
          <ion-select-option [value]="1">{{'HEADER.QUARTERLY' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="item.quarter == 0">
        <ion-label>{{'HEADER.SELECT MONTH' | translate}}</ion-label>
        <ion-input type="Month" [(ngModel)]="item.start"></ion-input>
      </ion-item>

      <ion-item *ngIf="item.quarter == 1">
        <ion-label>{{'HEADER.SELECT PERIOD' | translate}}</ion-label>
        <ion-select placeholder="select" [(ngModel)]="item.start" interface="popover">
          <ion-select-option value="04-06">Apr-Jun</ion-select-option>
          <ion-select-option value="07-09">Jul-Sep</ion-select-option>
          <ion-select-option value="10-12">Oct-Dec</ion-select-option>
          <ion-select-option value="01-03">Jan-Mar</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="item.quarter == 1">
        <ion-label>{{'HEADER.SELECT YEAR' | translate}} :</ion-label>
        <ion-select placeholder="select" [(ngModel)]="item.year" interface="popover">
          <ion-select-option value="2019">2019-20</ion-select-option>
          <ion-select-option value="2020">2020-21</ion-select-option>
          <ion-select-option value="2021">2021-22</ion-select-option>
          <ion-select-option value="2022">2022-23</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button (click)="submit()" expand="full">{{'HEADER.SUBMIT' | translate}}</ion-button>
    </ion-card>


    <ion-segment value="b2b" (ionChange)="segmentChanged($event)" scrollable="true" mode="md">
      <ion-segment-button value="b2b" mode="md" (click)="b2bFunction()">
        <ion-label>{{'HEADER.B2B' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="export" mode="md" (click)="export()">
        <ion-label>{{'HEADER.EXPORT' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="b2cl" mode="md" (click)="b2cLarge()">
        <ion-label>{{'HEADER.B2C (LARGE)' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="b2cs" mode="md" (click)="b2cSmall()">
        <ion-label>{{'HEADER.B2C(SMALL)' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="creditNoteRegister" mode="md" (click)="creditNoteRegister()">
        <ion-label>Credit Note(Registered)</ion-label>
      </ion-segment-button>
      <ion-segment-button value="creditNoteUNRegister" mode="md" (click)="creditNoteUNRegister()">
        <ion-label>{{'HEADER.CREADIT NOTE UN REGISTER' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="nillRated" mode="md" (click)="nillRated()">
        <ion-label>{{'HEADER.NIL RATED' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="documentSummary" mode="md" (click)="documentSummary()">
        <ion-label>{{'HEADER.DOCUMENT SUMMARY' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="hsnSummary" mode="md" (click)="hsnSummary()">
        <ion-label>{{'HEADER.HSN SUMMARY' | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="a">
      <ion-card *ngFor="let item of b2bData">
        <ion-card-header style="background: #dfdfdf;">
          <ion-card-subtitle>{{item.party_name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">{{'HEADER.GSTIN' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.gstin}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.INVOICE NO' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.invoice_no}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.INVOICE DATE' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.invoice_date}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TAXABLE AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.taxable_amount}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">IGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.igst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">CGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.cgst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">SGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.sgst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.CESS AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.cess}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TOTAL TAX AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.total_tax_amount}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TOTAL AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.total_amount}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="b">
      <ion-card *ngFor="let item of b2cL">
        <ion-card-header style="background: #dfdfdf;">
          <ion-card-subtitle>{{item.state}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">{{'HEADER.INVOICE NO' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.invoice_no}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.INVOICE DATE' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.invoice_date}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TAXABLE AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.taxable_amount}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">IGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.igst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">CGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.cgst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">SGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.sgst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.CESS AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.cess}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TOTAL TAX AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.total_tax_amount}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TOTAL AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.total_amount}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="c">
      <ion-card *ngFor="let item of b2cS">
        <ion-card-header style="background: #dfdfdf;">
          <ion-card-subtitle>{{item.party_name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">{{'HEADER.TAXABLE AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.taxable_amount}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Tax Rate</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.tax_rate}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">IGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.igst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">CGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.cgst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">SGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.sgst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.CESS AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.cess}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TOTAL TAX AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.total_tax_amount}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TOTAL AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.total_amount}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="d">
      <ion-card *ngFor="let item of creditNoteRegData">
        <ion-card-header style="background: #dfdfdf;">
          <ion-card-subtitle>{{item.party_name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">{{'HEADER.INVOICE NO' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.invoice_no}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.INVOICE DATE' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.invoice_date}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.GSTIN' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.gstin}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TAXABLE AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.taxable_amount}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">IGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.igst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">CGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.cgst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">SGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.sgst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.CESS AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.cess}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TOTAL TAX AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.total_tax_amount}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TOTAL AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.total_amount}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="e">
      <ion-card *ngFor="let item of creditUNData">
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">{{'HEADER.STATE' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.state}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.INVOICE NO' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.invoice_no}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.INVOICE DATE' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.invoice_date}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Tax Rate</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.tax_rate}}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">{{'HEADER.TAXABLE AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.taxable_amount}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">IGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.igst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">CGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.cgst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">SGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.sgst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.CESS AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.cess}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TOTAL AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.total_amount}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="f">
      <ion-card *ngFor="let item of nillData">
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">{{'HEADER.DESCRIPTION' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.Description_1}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Nil Rated Supplies</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.inter_state_reg}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Exempted(Other than nil rated/non GST supply)</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.inter_state_unreg}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Non-GST Supplies</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.intra_state_reg}}</ion-col>
            </ion-row>

          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="g">
      <ion-card *ngFor="let item of docData">
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">Nature of Document</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.Document}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">From Invoice</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.from_invoice}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">To Invoice</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.to_invoice}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Total No</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.total_no}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="h">
      <ion-card *ngFor="let item of hsnData">
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">HSN/SAC</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.hsn_code}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.DESCRIPTION' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.Description}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">UQC</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.unit}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Quantity</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.total_quantity}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Tax Rate</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.tax_rate}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TAXABLE AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.taxable_amount}}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">IGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.igst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">CGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.cgst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">SGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.sgst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.CESS AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.cess}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TOTAL TAX AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.total_tax_amount}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TOTAL AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.total_amount}}</ion-col>
            </ion-row>

          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="x">
      <ion-card *ngFor="let item of expo">
        <ion-card-header style="background: #dfdfdf;">
          <ion-card-subtitle>{{item.party_name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid fixed>
            <!-- <ion-row>
              <ion-col size="6">Party name</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.party_name}}</ion-col>
            </ion-row> -->
            <ion-row>
              <ion-col size="6">invoice no.</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.invoice_no}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Invoice date</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.invoice_date}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">State</ion-col>
              <ion-col size="6" style="text-align: right;"> {{item.state}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Total amount</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.total_amount}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TAXABLE AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.taxable_amount}}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">IGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.igst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">CGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.cgst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">SGST</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.sgst}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.CESS AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.cess}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">{{'HEADER.TOTAL TAX AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.total_tax_amount}}</ion-col>
            </ion-row>
            <!-- <ion-row>
              <ion-col size="6">{{'HEADER.TOTAL AMOUNT' | translate}}</ion-col>
              <ion-col size="6" style="text-align: right;">₹ {{item.total_amount}}</ion-col>
            </ion-row> -->

          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-row class="filters">
      <!-- <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
            <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
        </ion-col> -->
      <ion-col no-padding col-10>
        <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="3">
          <ion-slide (click)="filterData(category.id)" *ngFor="let category of selectedCategory">
            <p>{{ category.a }}</p>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <!-- <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1>
            <ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>
        </ion-col> -->
    </ion-row>

  </ion-content>