.transaction_div{
    padding-left:10px;
    padding-right: 10px;
   
}
.transaction_card{
    margin-left: 0px;
    margin-right: 0px;
    margin-top:4px;
    margin-bottom: 3px;
    border-radius: 25px;
    background: #d6dce1;
    margin-bottom: 12px;
}
.transaction_header{
    padding-left: 9px;
    padding-top: 9px;
    padding-bottom: 0px;
}
.transaction_matter{
    font-size: 11px;
    padding-left: 9px;
    padding-top: 2px;
    padding-bottom: 3px;
    
}
.transaction_amount{
    text-align: right;
    padding-left: 9px;
    padding-top: 9px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.skeleton {
    height: 87px;
    width: 100%;
    // border-radius: 25px;
}
