<ion-header>
  <ion-toolbar>
    <ion-title>infinity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list *ngFor="let user of users">
    <ion-item>
      <img [src]="user.avatar" width="60px" style="border-radius: 50%;padding:5px">
      <ion-label style="padding-left:10px">{{user.first_name}}</ion-label><br>
      
    </ion-item>
  </ion-list> -->
  <ion-card>
    
    <ion-item lines="none">
      <ion-label position="stacked">{{'HEADER.FROM'| translate}} :</ion-label>
      <ion-input type="date" name="dateF" required="" [(ngModel)]="item.start_date"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">{{'HEADER.TO' | translate}}:</ion-label>
      <ion-input type="date" name="dateT" required="" [(ngModel)]="item.end_date"></ion-input>
    </ion-item>

    <ion-item>
     
      <ion-button (click)="getData()">{{'HEADER.SUBMIT' | translate}}</ion-button>
      <!-- <ion-button>Clear</ion-button> -->
    </ion-item>

  </ion-card>

  <ion-list *ngFor="let item of users">
    <ion-item-sliding>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteInvoice(item.invoice_id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item>

  <ion-card (click)="selected(item)" style="margin-left: 2px; margin-right: 5px; width:100%; margin-bottom: 10px; margin-top: 10px;">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-label>#{{item.invoice_no}}</ion-label>
        </ion-col>
        <ion-col size="6" style="text-align: right;font-weight: 600;">
          <ion-label>{{item.invoice_date |  date:'dd MMM, yyyy'}}</ion-label>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col style="font-weight: 600;" size="8">
          <ion-label>{{item.party_name}}</ion-label><br>
          <ion-label>GSTIN# {{item.gstin}}</ion-label>
        </ion-col>
        <ion-col size="4" style="font-weight: 600;text-align: right;font-size: 18px;color:#00a600" *ngIf="item.type == 'Sales_Invoice' ">
          ₹ {{item.total_amount}}
          <br>
          <span style="color:#00a600;font-size: 14px;" *ngIf='item.payment_status === "Paid"'>{{item.payment_status}}</span>
          <span style="color:#ff0000;font-size: 14px;" *ngIf="item.payment_status === 'Unpaid' ">{{item.payment_status}}</span>

        </ion-col>
        <ion-col size="4" style="font-weight: 600;text-align: right;font-size: 18px;color: #ff0000;" *ngIf="item.type != 'Sales_Invoice' ">
          ₹ -{{item.total_amount}}
        </ion-col>
        
      </ion-row>
     
    </ion-grid>
  </ion-card>
</ion-item>
</ion-item-sliding>
</ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
