span{
    color:red
}
div{
    padding-left: 10px;
  }
  .custom-input {
    // border: 1px solid #b5a7a7; /* This sets a 2px solid blue border */
    // border-radius: 25px; /* This adds rounded corners to the border */
    // margin: 5px 5px 4px -4px;
    margin: 15px 0px 0px -6px;
    border: 1px solid #b5a7a7;
    border-radius: 25px;
    width: 101%;
    height: 39px;
    --placeholder-opacity: 1;
    
  }
  /* styles.scss */
// .custom-toast {
//   --background: rgb(1 71 150); /* Set the background color to black */
//   color: white; /* Set the font color to white */
// }
.title{
  font-size: 15px;
  color: #014796;
  margin-bottom: 29px;
  text-align: left;
 }