<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{'HEADER.ITEM WISE PROFORMA' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="length" fill="clear" (click)="excel()">
        <ion-icon name="cloud-download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar type="text" (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list *ngIf="isItemAvailable">
    <ion-item *ngFor="let item1 of itemwisePurchaase">
      <ion-label>{{ item1.itemName}}</ion-label>
    </ion-item>
  </ion-list>

  <div class="transaction_div">
    <ion-list *ngFor="let item of itemwisePurchaase">
      <ion-card class="transaction_card">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-header class="transaction_header">
                <ion-card-subtitle>{{item.item_name}} </ion-card-subtitle>
              </ion-card-header>
            </ion-col>
            <ion-col>
              <ion-card-header class="transaction_amount">
                <ion-card-subtitle>{{item.item_code}}</ion-card-subtitle>
              </ion-card-header>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-card-content class="transaction_matter">
              {{'HEADER.QTY' | translate}} : {{item.total_quantity}}&nbsp; Price: {{item.salesPrice}} &nbsp; {{'HEADER.STOCK
              QTY' | translate}} : {{item.opening_stock}} &nbsp;
              {{'HEADER.STOCK VALUE' | translate}}: {{item.avg_purchase_report}}
            </ion-card-content>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
