.search{
    --border: solid 1px;
    --border-radius: 9px;
    padding: 0px;
    height: 7%;
    width: 96%;
    margin: 14px 0px 0px 7px;
    --background: aliceblue;
}
.row{
    margin: auto;
    // border: solid 1px gray;
    width: 96%;
    height: 50px;
    // font-size: large;
    // color: #527fa5;
    font-family: system-ui;
    // padding: 7px;
    margin-top: 7px;
    border-radius: 8px;
    box-shadow: 1px 2px 7px -3px #1f89d8;
}
.col{
   
    font-size: large;
    color: #527fa5;
    font-family: system-ui;
    padding: 14px;
}
.col1{
    font-size: large;
    font-family: system-ui;
    padding: 19px;
}