<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
      <ion-title>Tax Deduction</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="details">
    <ion-item fill="outline" style="margin-top:7px; margin-left: 5px;margin-right: 5px;">
      <ion-label>{{'HEADER.SELECT YEAR' | translate}} :</ion-label>
      <ion-select formControlName="year" interface="popover">
        <ion-select-option value="2020-2021">2020-21</ion-select-option>
        <ion-select-option value="2021-2022">2021-22</ion-select-option>
        <ion-select-option value="2022-2023">2022-23</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item fill="outline" style="margin-top:7px; margin-left: 5px;margin-right: 5px;">
      <ion-button id="search" (click)="submit()">{{'HEADER.SEARCH' | translate}}</ion-button>
      <ion-button id="btn" type=reset (click)="clear()">clear search</ion-button>
    </ion-item>
  </form>

  <form [formGroup]="details" *ngIf=form1>
    <ion-searchbar type="text" (ionInput)="getItems($event)"></ion-searchbar>
    <div class="transaction_div">

      <div>
        <ion-card class="transaction_card" *ngFor="let item of item" (click)="selectedEmp(item)">
          <ion-row>
            <ion-col size="2">
              <ion-card-header class="transaction_header" fill="outline">
                <ion-card-subtitle>
                  <ion-icon name="person-circle-outline" style="zoom:2.0"></ion-icon>
                </ion-card-subtitle>
              </ion-card-header>
            </ion-col>
            <ion-col size="10">
              <ion-row>

                <ion-card-header class="transaction_header">
                  <ion-card-subtitle>
                    {{item.employee}}
                  </ion-card-subtitle>
                </ion-card-header>
              </ion-row>
              <ion-row>
                <ion-card-content class="transaction_matter">
                  Total Estimated Salary: {{item.yearly_salary}}
                  Total Deduction :{{item.yearly_tds}}
                  Regime:{{item.regime}}
                </ion-card-content>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
  </form>

  <form *ngIf="taxDetails">
    <ion-toolbar>

      <ion-label style="padding-left:13px;font-size:19px;">Tax Deduction Details</ion-label>
    </ion-toolbar>
    <ion-card>
      <ion-row>
        <ion-col>
          <ion-label></ion-label>
        </ion-col>
        <ion-col>
          <ion-label style="font-weight: bold;">New Tax Regime</ion-label>
        </ion-col>
        <ion-col>
          <ion-label style="font-weight: bold;">Old Tax Regime</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;">Earnings</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.yearly_salary}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label> {{data.yearly_salary}}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row (click)="exemption()">
        <ion-col>
          <ion-label style="font-weight: bold;">Exemptions</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>0</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.final_exemptions}}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;">Standard Deduction</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>0</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>50000</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;">Taxable Income</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.yearly_salary}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.taxable_income}}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;">Total Tax Liability</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.new_regime_deduction}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.old_regime_deduction}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-item>
      <ion-label color="dark">Your current chosen regime is {{data.regime}} tax regime</ion-label>
    </ion-item>

    <ion-card color="light">
      <ion-text>You should continue with your current selection.Please confirm your selection
        so that we can use it in futurepayroll calculations</ion-text>
    </ion-card>
    <ion-item>
      <ion-button (click)="switchRegime()">SWITCH REGIME</ion-button>
      <ion-button (click)="updateRegime()">CONFIRM SELECTION</ion-button>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col size="9">
          <ion-label color="primary">Current HEADER Rent</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="addHomeRent()">Add Details</ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-card>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;">Current Monthly Rent</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.monthly_rent}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;">Name of Landlord</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.landlord_name}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;">PAN of Landlord</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.landlord_pan}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;">Address of Landlord</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.landlord_address}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-item>
      <ion-row>
        <ion-col>
          <ion-text color="primary">Section 80 deductions(Investments, Education Loans, Medical Insurance)</ion-text>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-card>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;" (click)="section80C()">Section 80C</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.eightyC_amount}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;" (click)="eightyCC()">Section 80CCD(1B)</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.eighty_ccd1b_amount}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;" (click)="eighty_D()">Section 80D</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.eightyD_amount}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;" (click)="eighty_CD()">Section 80DD</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.section_80_dd}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;" (click)="eightyE()">Section 80E</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.section_80_e}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-item>
      <ion-row>
        <ion-col>
          <ion-label color="primary">Interest on Home Loan</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="addHomeLoan()">Add Details</ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-card>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;">Annual interest payable/paid</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.annual_interest_final}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;">Additional benefit under section 80EE</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.benefit_section_80ee_final}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;">Name of lender</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.name_of_lender}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;">PAN of lender</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.pan_of_lender}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bold;">Address of lender</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{data.address_of_lender}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
  </form>


  <ion-modal [isOpen]="hRent" [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="0.6">
    <ng-template>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Add Current Home Rent</ion-title>
          <ion-buttons slot="end" (click)="close()">
            <ion-icon name="close-outline" style="zoom:2.0"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card>

          <div style="margin:4px">
            <ion-item fill="outline" style="margin-top:12px">
              <ion-label position="floating">Current Monthly Rent :</ion-label>
              <ion-input [(ngModel)]="data.monthly_rent" type="number"></ion-input>
            </ion-item>

            <ion-item fill="outline" style="margin-top:12px">
              <ion-label position="floating"> Name of Landlord :</ion-label>
              <ion-input [(ngModel)]="data.landlord_name"></ion-input>
            </ion-item>

            <ion-item fill="outline" style="margin-top:12px">
              <ion-label position="floating">Address of Landlord :</ion-label>
              <ion-input [(ngModel)]="data.landlord_address"></ion-input>
            </ion-item>

            <ion-item fill="outline" style="margin-top:12px">
              <ion-label position="floating">PAN of Landlord :</ion-label>
              <ion-input [(ngModel)]="data.landlord_pan"></ion-input>
            </ion-item>

            <ion-button expand="full" (click)="homeRent()" style="margin-top:20px">Save</ion-button>
          </div>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="hLoan" [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="0.7">
    <ng-template>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Edit Interest on Home Loan</ion-title>
          <ion-buttons slot="end" (click)="close()">
            <ion-icon name="close-outline" style="zoom:2.0"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card>

          <div style="margin:4px">
            <ion-item fill="outline" style="margin-top:12px">
              <ion-label position="floating">Annual interest Payable/Paid :</ion-label>
              <ion-input type="number" [(ngModel)]="data.annual_interest_final" type="number"></ion-input>
            </ion-item>

            <ion-item fill="outline" style="margin-top:12px">
              <ion-label position="floating">Additional benefit under section 80EE :</ion-label>
              <ion-input type="number" [(ngModel)]="data.benefit_under_eighty_ee" type="number"></ion-input>
            </ion-item>

            <ion-item fill="outline" style="margin-top:12px">
              <ion-label position="floating">Name of lender :</ion-label>
              <ion-input [(ngModel)]="data.name_of_lender"></ion-input>
            </ion-item>

            <ion-item fill="outline" style="margin-top:12px">
              <ion-label position="floating">PAN of lender :</ion-label>
              <ion-input [(ngModel)]="data.pan_of_lender"></ion-input>
            </ion-item>

            <ion-item fill="outline" style="margin-top:12px">
              <ion-label position="floating">Address of lender:</ion-label>
              <ion-input [(ngModel)]="data.address_of_lender"></ion-input>
            </ion-item>
            <ion-button expand="full" (click)="homeLoan()" style="margin-top:20px">Save</ion-button>
          </div>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="eightyC" [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="0.5">
    <ng-template>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Section 80C Deductions</ion-title>
          <ion-buttons slot="end" (click)="close()">
            <ion-icon name="close-outline" style="zoom:2.0"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-button (click)="add80C()" id="addc">Add</ion-button>

        <ion-row style="margin-left: 20px;">
          <ion-col>
            <ion-label> Particulars</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Amount</ion-label>
          </ion-col>
        </ion-row>
        <ion-item *ngFor="let item of item" style="margin-left: 10px;">
          <ion-col>
            <ion-label>{{item.particulars}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{item.amount}}</ion-label>
          </ion-col>
        </ion-item>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="eighty_C" [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="0.5">
    <ng-template>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Add Section 80C Deductions</ion-title>
          <ion-buttons slot="end" (click)="close()">
            <ion-icon name="close-outline" style="zoom:2.0"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-item fill="outline" style="margin-top:12px">
          <ion-label position="floating">Particulars :</ion-label>
          <ion-input [(ngModel)]="data1.particulars"></ion-input>
        </ion-item>


        <ion-item fill="outline" style="margin-top:12px">
          <ion-label position="floating">Amount :</ion-label>
          <ion-input [(ngModel)]="data1.amount"></ion-input>
        </ion-item>

        <ion-button (click)="save80C()">Save</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="eighty_CC" [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="0.5">
    <ng-template>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Add Section 80CCD(1B) Deductions</ion-title>
          <ion-buttons slot="end" (click)="close()">
            <ion-icon name="close-outline" style="zoom:2.0"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <form [formGroup]="tax1Form">
          <ion-item fill="outline" style="margin-top:12px">
            <ion-label position="floating">By Assessee :</ion-label>
            <ion-input type="number" formControlName="by_assessee"></ion-input>
          </ion-item>


          <ion-item fill="outline" style="margin-top:12px">
            <ion-label position="floating">By Employer :</ion-label>
            <ion-input type="number" formControlName="by_employer"></ion-input>
          </ion-item>

          <ion-item fill="outline" style="margin-top:12px">
            <ion-label position="floating">Contribution to NPS u/s(80CCD(1B)) :</ion-label>
            <ion-input type="number" formControlName="contri_nps"></ion-input>
          </ion-item>

          <ion-button (click)="save80CCD1()">Save</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="eighty_DD" [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="0.5">
    <ng-template>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Add Section 80DD Deductions</ion-title>
          <ion-buttons slot="end" (click)="close()">
            <ion-icon name="close-outline" style="zoom:2.0"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <form [formGroup]="eightyDD_form">
          <ion-item fill="outline" style="margin-top:12px">
            <ion-label position="floating">Section 80DD :</ion-label>
            <ion-select placeholder="Select" interface="popover" formControlName="severe_disability">
              <ion-select-option value="1">With Severe Disability</ion-select-option>
              <ion-select-option value="0">Without Severe Disability</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item fill="outline" style="margin-top:12px">
            <ion-input formControlName="section_80_dd"></ion-input>
          </ion-item>

          <ion-button (click)="save80DD()">Save</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal [isOpen]="eighty_E" [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="0.5">
    <ng-template>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Add Section 80E Deductions</ion-title>
          <ion-buttons slot="end" (click)="close()">
            <ion-icon name="close-outline" style="zoom:2.0"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form [formGroup]="eightyE_form">
          <ion-item fill="outline" style="margin-top:12px">
            <ion-label position="floating">Section 80E :</ion-label>
            <ion-input formControlName="section_80_e"></ion-input>
          </ion-item>

          <ion-button (click)="save80E()">Save</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="eightyD">
    <ng-template>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Add Section 80D Deductions</ion-title>
          <ion-buttons slot="end" (click)="close()">
            <ion-icon name="close-outline" style="zoom:2.0"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form [formGroup]="eightyD_form">
          <ion-card>
            <ion-row>
              <ion-col size="8">
                <ion-label style="padding-left:10px">1. Whether you or any of your family member (excluding parents) is
                  a senior citizen? :</ion-label>
              </ion-col>
              <ion-col size="4">
                <ion-select placeholder="select" interface="popover" (ionChange)="yes()"
                  formControlName="self_or_family_senior">
                  <ion-select-option value="1">Yes</ion-select-option>
                  <ion-select-option value="0">No</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-label color="primary" style="padding-left:10px">a) Self and Family</ion-label>

            <ion-item>
              <ion-label>i)Health Insurance :</ion-label>
              <ion-input fill="outline" style="text-align: end" formControlName="selfF_health_insurance">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label>ii)Preventive Health Checkup :</ion-label>
              <ion-input fill="outline" style="text-align: end" formControlName="selfF_preventive_health">
              </ion-input>
            </ion-item>

            <ion-label color="primary" style="padding-left:10px">b) Self and Family(Senior Citizen)</ion-label>

            <ion-item>
              <ion-label>i)Health Insurance :</ion-label>
              <ion-input fill="outline" style="text-align: end" formControlName="selfF_health_insurance_senior">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label>ii)Preventive Health Checkup :</ion-label>
              <ion-input fill="outline" style="text-align: end" formControlName="selfF_preventive_health_senior">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label>iii) Medical Expenditure :</ion-label>
              <ion-input fill="outline" style="text-align: end" formControlName="selfF_medical_senior">
              </ion-input>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-row>
              <ion-col size="8">
                <ion-label style="padding-left:10px">2. Whether you or any of your Parents is a Senior Citizen?
                </ion-label>
              </ion-col>
              <ion-col size="4">
                <ion-select placeholder="select" interface="popover" (ionChange)="no()"
                  formControlName="parents_senior">
                  <ion-select-option value="1">Yes</ion-select-option>
                  <ion-select-option value="0">No</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-label color="primary" style="padding-left:10px">a) Parents</ion-label>

            <ion-item>
              <ion-label>i)Health Insurance :</ion-label>
              <ion-input fill="outline" style="text-align: end" formControlName="parents_health_insurance">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label>ii)Preventive Health Checkup :</ion-label>
              <ion-input fill="outline" style="text-align: end" formControlName="parents_preventive_health">
              </ion-input>
            </ion-item>

            <ion-label color="primary" style="padding-left:10px">b) Parents(Senior Citizen)</ion-label>

            <ion-item>
              <ion-label>i)Health Insurance :</ion-label>
              <ion-input fill="outline" style="text-align: end" formControlName="parents_health_insurance_senior">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label>ii)Preventive Health Checkup :</ion-label>
              <ion-input fill="outline" style="text-align: end" formControlName="parents_preventive_health_senior">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label>iii) Medical Expenditure :</ion-label>
              <ion-input fill="outline" style="text-align: end" formControlName="parents_medical_senior">
              </ion-input>
            </ion-item>

            <ion-button (click)="save80D()">Save</ion-button>
          </ion-card>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>