<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title style="padding: 0;font-size: larger;">Item Details</ion-title>
    <ion-button fill="clear" slot="end" size="small" id="edititem" (click)="presentModal()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-card>
  <ion-item>
    <ion-title>{{itemDetails.item_name}}</ion-title>
  </ion-item>
  <ion-item>
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-label color="medium">{{'HEADER.SALES PRICE' | translate}}</ion-label>
          <ion-label>{{itemDetails.sales_prices}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label color="medium">{{'HEADER.PURCHASE PRICE' | translate}}</ion-label>
          <ion-label>₹ {{itemDetails.purchase_prices}}</ion-label>
        </ion-col>&nbsp;&nbsp;
        <ion-col>
          <ion-label color="medium">{{'HEADER.OPENING STOCK' | translate}}</ion-label>
          <ion-label>{{itemDetails.opening_stock}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label color="medium">Current Stock</ion-label>
          <ion-label>{{itemDetails.opening_stock_report}}</ion-label>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label color="medium">{{'HEADER.ITEM CODE' | translate}}</ion-label>
          <ion-label>{{itemDetails.item_code}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label color="medium">{{'HEADER.UNIT' | translate}}</ion-label>
          <ion-label>{{itemDetails.unit}}</ion-label>
        </ion-col>
        <!-- <ion-col>
          <ion-label color="medium">Low stock at</ion-label>
          <ion-label></ion-label>
        </ion-col> -->
        <ion-col>
          <ion-label color="medium">Tax Rate</ion-label>
          <ion-label>₹ {{itemDetails.rate}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col>
          <ion-label color="medium">HSN Code</ion-label>
          <ion-label>{{itemDetails.hsn_code}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label color="medium">{{'HEADER.ITEM TYPE' | translate}}</ion-label>
          <ion-label>{{itemDetails.item_type}}</ion-label>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-card>
<ion-content>

</ion-content>